body,
html {
  height: 100%;
}
 body {
  background-color: darkgrey;
  height: 100%;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
.name {
    color: chartreuse;
    position: relative;
    left: 250px;
    font-weight: lighter;
    font-family: fantasy;
}

